.chair {
    background-image: url(chair.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
}

#C11 {grid-area: Z0101;}
#C12 {grid-area: Z0104;}
#C13 {grid-area: Z0201;}
#C14 {grid-area: Z0204;}
#C21 {grid-area: Z0301;}
#C22 {grid-area: Z0304;}
#C23 {grid-area: Z0401;}
#C24 {grid-area: Z0404;}
#C31 {grid-area: Z0601;}
#C32 {grid-area: Z0604;}
#C33 {grid-area: Z0701;}
#C34 {grid-area: Z0704;}
#C41 {grid-area: Z0901;}
#C42 {grid-area: Z0904;}
#C51 {grid-area: Z0107;}
#C52 {grid-area: Z0110;}
#C53 {grid-area: Z0207;}
#C54 {grid-area: Z0210;}
#C61 {grid-area: Z0307;}
#C62 {grid-area: Z0310;}
#C63 {grid-area: Z0407;}
#C64 {grid-area: Z0410;}
#C71 {grid-area: Z0607;}
#C72 {grid-area: Z0610;}
#C73 {grid-area: Z0707;}
#C74 {grid-area: Z0710;}
#C81 {grid-area: Z0806;}
#C82 {grid-area: Z0807;}
#C91 {grid-area: Z0808;}
#C92 {grid-area: Z0809;}