.chair {
    background-image: url(chair.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    color: white;
    font-size: 16pt;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
}

#C01_01 {grid-area: Z01_01;}
#C01_02 {grid-area: Z01_04;}
#C01_03 {grid-area: Z02_01;}
#C01_04 {grid-area: Z02_04;}
#C02_01 {grid-area: Z03_01;}
#C02_02 {grid-area: Z03_04;}
#C02_03 {grid-area: Z04_01;}
#C02_04 {grid-area: Z04_04;}
#C03_01 {grid-area: Z06_01;}
#C03_02 {grid-area: Z06_04;}
#C03_03 {grid-area: Z07_01;}
#C03_04 {grid-area: Z07_04;}
#C04_01 {grid-area: Z09_01;}
#C04_02 {grid-area: Z09_04;}
#C05_01 {grid-area: Z01_07;}
#C05_02 {grid-area: Z01_10;}
#C05_03 {grid-area: Z02_07;}
#C05_04 {grid-area: Z02_10;}
#C06_01 {grid-area: Z03_07;}
#C06_02 {grid-area: Z03_10;}
#C06_03 {grid-area: Z04_07;}
#C06_04 {grid-area: Z04_10;}
#C07_01 {grid-area: Z06_07;}
#C07_02 {grid-area: Z06_10;}
#C07_03 {grid-area: Z07_07;}
#C07_04 {grid-area: Z07_10;}
#C08_01 {grid-area: Z08_06;}
#C08_02 {grid-area: Z08_07;}
#C09_01 {grid-area: Z08_08;}
#C09_02 {grid-area: Z08_09;}