.popup-container{ 
    z-index: 5;
    display: flex;
    background-color: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.popup{
    background: transparent;
    box-shadow: 5pt;

    position: relative;
}

.popup-container.show{
    pointer-events: auto;
    opacity: 1;
}

#popup-img {
    width: 80vw;
    height: 80vh;
    object-fit: cover;
}

.top-centered {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.bottom-centered {
    position: absolute;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    gap: 10px;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.background-img {
    filter: brightness(50%);
}

.top-right {
    position: absolute;
    top: 8px;
    right: 8px;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.food-headline {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.text {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.right-center {
    position: absolute;
    right: 0px;
    top: 45%;
}

.top-left {
    position: absolute;
    left: 8px;
    top: 8px;
}

.left-center {
    position: absolute;
    left: 0px;
    top: 45%;
}

.arrow {
    cursor: pointer;
    background-color: white;
}

#food-buy {
    width: 150px;
}

.myMenuButton {
    box-shadow:inset 0px -18px 2px -12px #ffffff;
    background-color:var(--color1);
    display:inline-block;
    border: none;
    cursor:pointer;
    color:#dadbf0;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px var(--color1);
    text-align: center;
}
.myMenuButton:hover {
    background-color:#a8a1e7;
}
.myMenuButton:active {
    background-color:#979797;
}