.table {
  background-image: url(table.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  font-size: 30pt;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-row-end: span 2;
  grid-column-end: span 2;
  z-index: 1;
}

#T01 {
  grid-row-start: 1;
  grid-column-start: 2;
}
#T02 {
  grid-row-start: 3;
  grid-column-start: 2;
}
#T03 {
  grid-row-start: 6;
  grid-column-start: 2;
}
#T04 {
  grid-row-start: 9;
  grid-column-start: 2;
}
#T05 {
  grid-row-start: 1;
  grid-column-start: 8;
}
#T06 {
  grid-row-start: 3;
  grid-column-start: 8;
}
#T07 {
  grid-row-start: 6;
  grid-column-start: 8;
}
#T08 {
  grid-row-start: 9;
  grid-column-start: 6;
}
#T09 {
  grid-row-start: 9;
  grid-column-start: 8;
}